node_modules/
.DS_Store
.claude/
.qodo/
*.log
dist/
.env
.venv
parser
myenv
new_rag/clustering_results/
new_rag/embedding_results/
new_rag/embedding2_results/
new_rag/embedding3_results/
new_rag/rechunked_results/
rag/text-results/
new_rag/new_rag/chroma_db/
new_rag/chroma_db/
common-ui/
githubcopioltplan.md
